@mixin desktop {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin desktop-large {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin tablet-large {
    @media (max-width: 1164px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 936px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 730px) {
        @content;
    }
}

@mixin reset {
    font-family: Roboto,
        Arial,
        sans-serif;

    * {
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }
}

:root {
    --max-width: 1440px;

    @include desktop() {
        --max-width: 1164px;
    }

    @include tablet-large() {
        --max-width: 936px;
    }

    @include tablet() {
        --max-width: 730px;
    }

    @include mobile() {
        --max-width: 100%;
    }

    --cod-gray: #0F0F0F;
    --foam: #F4FAFE;
    --dodger-blue: #2196F3;
    --nevada: #5B6971;
    --outer-space: #232B30;
}

.maxWidth {
    max-width: var(--max-width);
    margin: 0 auto;
}

.mobileOnly {
    display: none;

    @include mobile() {
        display: block;
    }
}

.desktopOnly {
    display: block;

    @include mobile() {
        display: none;
    }
}

// Code begins here